<a href="https://colab.research.google.com/github/aditya8075/Maths-for-Data-Science/blob/main/t_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T Test
A t-test is a type of inferential statistic which is used to determine if there is a significant difference between the means of two groups which may be related in certain features

T-test has 2 types : 1. one sampled t-test 2. two-sampled t-test.

# One-sample T-test with Python
The test will tell us whether means of the sample and the population are different

In [1]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [2]:
len(ages)

32

In [3]:
import numpy as np
ages_mean=np.mean(ages)
print(ages_mean)

30.34375

In [4]:
## Lets take sample

sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [5]:
age_sample

array([16, 32, 25, 24, 21, 25, 20, 35, 70, 43])

In [6]:
from scipy.stats import ttest_1samp

In [7]:
ttest,p_value=ttest_1samp(age_sample,30.34375)

In [8]:
print(p_value)

0.8830861041257191

In [9]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis